<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autor del proyecto</h2>       	
    <img src="/images/moises.jpg" WIDTH=120 HEIGHT=120> <p>
    
    <%= author %> <p>
    <a href="/"> Volver </a>

  </body>
</html>
